[Unit]
Description=VBox by nagruy
After=network.target ypbind.service nfs.service nfsserver.service rpcbind.service SuSEfirewall2_init.service
Wants=SuSEfirewall2_init.service

[Service]
ExecStart=/opt/vbox/vbox.sh start
ExecStop=/opt/vbox/vbox.sh stop
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=multi-user.target
